.Container {
  display: flex;
  height: 100vh;
  width: 100vw;
  color: #fff;
  background-image: url('../../img/loginBg.jpg');
  background-size: cover;
  align-items: center;
}

.welcomeText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 500px;
  flex: 1;
  margin: 0 0 0 280px;
  min-width: 540px;
}

.upperText {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  flex: 1;
}

.upperText h1 {
  font-size: 73px;
}

.upperText h2 {
  font-size: 36px;
  margin-top: 30px;
  font-weight: 300;
}

.lowerText {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  width: 100%;
  flex: 1;
  font-size: 30px;
}

.loginBox {
  flex: 1;
  background: #fff;
  color: #3e3e40;
  width: 300px;
  height: 500px;
  margin: 0px 280px;
  border-radius: 4px;
  min-width: 540px;
}

.loginBox input {
  flex: 1;
  border-style: hidden;
  border-bottom: 2px solid #62626222;
  width: 100%;
  margin-top: 60px;
  max-height: 25px;
  font-size: 18px;
}

.loginBox input:focus {
  outline: none;
}

.boxContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  min-width: 540px;
}

.boxContainer h1 {
  flex: 1;
  font-size: 32px;
  font-weight: 700;
  margin-top: 70px;
  max-height: 75px;
}

.boxContainer h3 {
  justify-content: flex-end;
  font-size: 13px;
  color: #0066f1;
  margin: 30px 0px 60px 250px;
  cursor: pointer;
}

.boxContainer h3:hover {
  filter: brightness(80%);
}

.submit {
  flex: 1;
  margin-bottom: 40px;
  border-radius: 4px;
  color: #fff;
  background-color: #0e72ff;
  border-style: hidden;
  cursor: pointer;
  padding: 25px 200px;
}

.boxContainer .submit:focus {
  outline: none;
}

.boxContainer .submit:hover {
  background-color: #0066f1;
}

.password {
  width: 100%;
  position: relative;
}

.eye {
  position: absolute;
  bottom: 12%;
  left: 90%;
  width: auto;
  height: 30px;
  border-style: hidden;
  background-color: #00000000;
  background-repeat: no-repeat;
  cursor: pointer;
}

.eye:focus {
  outline: none;
}

.eye:hover {
  filter: brightness(90%);
}

.centerInput {
  width: 100%;
  justify-content: center;
}
